<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Contame!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Contame!">
  <meta http-equiv = "refresh" content = "0; url = http://play.google.com/store/search?q=contame&c=apps" />
  <meta property="og:title"  th:content="${title}">
  <meta property="og:description" th:content="${description}">
  <meta property="og:image" th:content="${image}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<a href="http://play.google.com/store/search?q=contame&c=apps">
  <button type="submit" style="color: black; font-weight: bold;" class="btn btn-warning ">Empeza a contarnos</button>
</a>


</html>